/*
Syntaxe CSS

selector {
    vlastnost1: hodnota;
    vlastnost2: hodnota;
    vlastnost3: hodnota;
    vlastnost4: hodnota;
    ...
    vlastnostn: hodnota;
}
*/

body {
    background-color: #d87093;
}

h1 {
    color: yellow;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.page-wrapper{
    /* max-width: 80%; */
    width: 80%;
    margin: 0 auto; /* Zarovnání na střed */
    background-color: rgb(215, 73, 120);
    padding: 20px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0px;  
}
nav a{
    background-color: bisque;
    color:navy;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

nav a:hover {
    background-color: grey;
}
.grid-container{
    display:grid;
    /* grid-template-columns: auto auto;
    grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.card{
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
}
.grid-container-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.grid-container-gallery figure {
    margin: 0;
}
.grid-container-gallery img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.grid-container-gallery figcaption {
    text-align: center;
}